.header{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #540e27;
    color: white;
}

.logo{
    display: flex;
    position: relative;
    float: left;
    height: 100%;
    width: 10%;
    background-color: yellow;
}

.cabecalho{
    display: flex;
    position: relative;
    float: right;
    background-color: chocolate;
}